:root {
    --ion-color-favorite: #ff2781;
}

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
}

// variables
$font-common: 'Verdana',
sans-serif;
// mixins
@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    transform: $property;
    -o-transform: $property;
}

@mixin devices ($breakpoint) {
    @if $breakpoint==xxLargeDevices {
        @media only screen and (max-width: 1400px) {
            @content;
        }
    }
    @if $breakpoint==xLargeDevices {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint==largeDevices {
        @media only screen and (max-width: 992px) {
            @content;
        }
    }
    @if $breakpoint==mediumDevices {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @if $breakpoint==smallDevices {
        @media only screen and (max-width: 576px) {
            @content;
        }
    }
    @if $breakpoint==xSmallDevices {
        @media only screen and (max-width: 435px) {
            @content;
        }
    }
}