* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #250821;
    .blob {
        position: absolute;
        width: 500px;
        height: 500px;
        svg {
            width: 500px;
            height: auto;
        }
    }
    .blob:nth-child(2) {
        filter: blur(50px);
    }
}